.env    
node_modules 

pricing.model.js
pricing.controller.js




support@tamdhealth.com
Tamd@1289



const ZoomAccountId = "upoJUPN9SOOrNYnKHqMAqA";
const ZoomClientId = "BV1rBaqNTeGXQ2hDTs8iLQ";
const ZoomClientSecret = "4foaqQih9ZHFLsJ2q1a7wjXjlDfBGSUo";



smtp.hostinger.com
Port:- 465
SSL/TSL