.env    
node_modules 

//delete appointment api 
http://localhost:8080/api/appoint/67d91c477cdc12d97b61383e

//add patient 
http://localhost:8080/api/add_patient/add

//get patient by id
http://localhost:8080/api/add_patient/67eccfed36255c19ed922bcd

//get all patient
http://localhost:8080/api/add_patient/all